.vertFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2px;
  text-align: left;
}
/* .HomeSingleItemImage:hover {
  box-shadow: 0px 0px 105px 5px rgba(45, 255, 196, 0.9);
} */
.vertContainerFlex {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.vertContainerFlex:hover {
  box-shadow: 0px 16px 20px #00000029;
}

.galleryContainer {
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
}

.itemDetailsContainer {
  padding: 6%;
  font-size: 20px;
  color: grey;
  text-align: center;
}

.HomeSingleItemImage {
  height: 158px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.itemTitleMore {
  font-size: 24px;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
}

.popUp {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: rgb(48, 44, 44);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
}

.popUpImage {
  width: 800px;
  height: 270px;
  object-fit: cover;
  border-radius: 20px;
  z-index: 4;
  position: relative;
  transition: opacity 1s;
  opacity: 0.15;
}

/* .popUpImage:hover {
  transition: opacity 1s;
  opacity: 0.2;
} */

.upperPopUpContent {
  width: 800px;
}

.popUpInnerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  justify-content: center;
  align-items: center;
  gap: 20px 20px;
}

.popUpDescription {
  color: white;
  font-size: 2rem;
  width: 90%;
  text-align: center;
  font-weight: 200;
  z-index: 3;
  position: relative;
  bottom: 65%;
  left: 5%;
}
.popUpTitle {
  font-size: 4rem;
  color: #de9e1f;
}

.popUpdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #de9e1f;
}

@media (max-width: 1166px) {
  .HomeSingleItemImage {
    height: 255px;
  }

  .itemTitleMore {
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: normal;
    font-size: 30px;
  }

  .itemDetailsContainer {
    font-size: 24px;
  }
}

@media (max-width: 1030px) {
  .HomeSingleItemImage {
    height: 255px;
  }

  .itemTitleMore {
    font-size: 38px;
  }
  .itemDetailsContainer {
    font-size: 28px;
  }
}

@media (max-width: 667px) {
  .popUpImage {
    width: 400px;
  }

  .upperPopUpContent {
    width: 400px;
    height: 350px;
  }

  .popUpInnerContainer {
    width: 400px;
  }

  .popUpDescription {
    font-size: 0.9rem;
    bottom: 75%;
  }
}

@media (max-width: 669px) {
  .itemTitleMore {
    font-size: 24px;
  }
  .itemDetailsContainer {
    font-size: 22px;
  }
}
@media (max-width: 528px) {
  .HomeSingleItemImage {
    height: 210px;
  }
}

@media (max-width: 481px) {
  /* .galleryContainer {
    width: 390px;
  } */

  .popUpImage {
    width: 340px;
  }

  .upperPopUpContent {
    width: 340px;
    height: 350px;
  }

  .popUpInnerContainer {
    width: 340px;
  }

  .popUpDescription {
    font-size: 0.8rem;
    bottom: 75%;
  }
}
@media (max-width: 462px) {
  .HomeSingleItemImage {
    height: 175px;
  }
}

@media (max-width: 462px) {
  .HomeSingleItemImage {
    height: 160px;
  }
}
