.SideNavContainer {
  width: var(--sideBarWidth);
  position: absolute;
  background-color: rgb(57, 4, 4);
  background-image: url("../../assets/images/sideBarBackground.jpg");
  height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  flex-direction: column;
}

.SideNavInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 150px;
  margin-bottom: 10px;
}

.SideNavLogo {
  width: 30px;
  align-self: center;
  padding-bottom: 8%;
  border-bottom: 4px solid transparent;
}

.SideNavLogo:hover {
  cursor: pointer;
  transform: translateX(10%);
}

/* @media (max-width: 669px) {
  .SideNavInnerContainer {
    top: 50px;
    left: calc(var(--sideBarWidth) - 45px);
  }
} */
@media (max-width: 469px) {
  .SideNavLogo {
    width: 22px;
  }

  /* .SideNavInnerContainer {
    top: 50px;
    left: calc(var(--sideBarWidth) - 41px);
  } */
}
