.SideNavContainer {
  min-height: 100%;
  width: 80px;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
}

.SideNavInnerContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}
