.LandingPageContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;
  color: white;
}

.LandingPageInnerContainer {
  width: 70%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingPageTitle {
  font-size: 100px;
  color: rgb(200, 60, 60);
}

.LandingPageSubTitle {
  font-size: 30px;
}

.LandingPageParagraph {
  max-width: 62%;
  font-size: 0px;
  line-height: 40px;
}

.LandingPageButton {
  width: 380px;
  height: 90px;
  margin-top: 90px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: glowing 2s infinite forwards;
}
.LandingPageButton:hover {
  cursor: pointer;
  animation: white 1.5s infinite forwards;
}

.LandingPageButtonText {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

@keyframes glowing {
  0% {
    border: 3px solid rgb(62, 2, 70);
  }

  50% {
    border: 3px solid rgb(200, 60, 60);
  }
  100% {
    border: 3px solid rgb(62, 2, 70);
  }
}
@keyframes white {
  0% {
    border: 3px solid white;
  }

  100% {
    border: 3px solid rgb(27, 0, 0);
    opacity: 1;
  }

  /* 100% {
    border: 3px solid rgb(125, 114, 114);
    opacity: 1;
  } */
}
