.LandingPageContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;
  color: white;
}

.LandingPageInnerContainer {
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingPageTitle {
  font-size: 100px;
  color: rgb(200, 60, 60);
}
.LandingPageTitle::before {
  content: "Welcome to ";
}

.LandingPageSubTitle {
  font-size: 30px;
}

.LandingPageSubTitle:before {
  content: "Your source for ";
}

.LandingPageButton {
  width: 380px;
  height: 90px;
  margin-top: 90px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: glowing 2s infinite forwards;
}
.LandingPageButton:hover {
  cursor: pointer;
  animation: white 1.5s infinite forwards;
}

.LandingPageButtonText {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

@keyframes glowing {
  0% {
    border: 3px solid rgb(62, 2, 70);
  }

  50% {
    border: 3px solid rgb(200, 60, 60);
  }
  100% {
    border: 3px solid rgb(62, 2, 70);
  }
}
@keyframes white {
  0% {
    border: 3px solid white;
  }

  100% {
    border: 3px solid rgb(27, 0, 0);
    opacity: 1;
  }
}

@media (max-width: 1167px) {
  .LandingPageTitle {
    font-size: 80px;
  }

  .LandingPageSubTitle {
    font-size: 25px;
  }

  .LandingPageButtonText {
    font-size: 20px;
  }

  .LandingPageButton {
    width: 351px;
    height: 85px;
  }
}
@media (max-width: 883px) {
  .LandingPageTitle {
    font-size: 65px;
  }

  .LandingPageSubTitle {
    font-size: 19px;
  }

  .LandingPageButtonText {
    font-size: 17px;
  }

  .LandingPageButton {
    width: 281px;
    height: 64px;
    border-radius: 20px;
  }
}
@media (max-width: 723px) {
  .LandingPageTitle {
    font-size: 175px;
  }

  .LandingPageSubTitle {
    font-size: 33px;
  }
  .LandingPageSubTitle:before {
    content: "";
  }

  .LandingPageButtonText {
    font-size: 26px;
  }

  .LandingPageButton {
    width: 361px;
    height: 84px;
    border-radius: 20px;
  }

  .LandingPageTitle::before {
    content: "";
  }
}

@media (max-width: 610px) {
  .LandingPageTitle {
    font-size: 150px;
  }

  .LandingPageSubTitle {
    font-size: 25px;
  }

  .LandingPageButtonText {
    font-size: 16px;
  }

  .LandingPageButton {
    width: 264px;
    height: 49px;
    border-radius: 20px;
  }
}
@media (max-width: 511px) {
  .LandingPageTitle {
    font-size: 125px;
  }

  .LandingPageSubTitle {
    font-size: 21px;
  }

  .LandingPageContainer {
    align-items: flex-start;
    align-items: start;
  }
}
@media (max-width: 420px) {
  .LandingPageTitle {
    font-size: 110px;
  }

  .LandingPageSubTitle {
    font-size: 19px;
  }

  .LandingPageButtonText {
    font-size: 12.5px;
  }

  .LandingPageButton {
    width: 210px;
    height: 35px;
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .LandingPageTitle {
    font-size: 100px;
  }

  .LandingPageSubTitle {
    font-size: 18px;
  }

  .LandingPageButtonText {
    font-size: 11px;
  }
}
