.popUp {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: rgb(48, 44, 44);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
}

.popUpImage {
  width: 75%;
  height: 75%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 3;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  opacity: 0.15;
  border: 0.05px solid white;
}
.popUpDescriptionContainer {
  width: 75%;
  height: 75%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 4;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  gap: 20px;
}

.popUpDescription {
  color: white;
  font-size: 1.6em;
  text-align: center;
  max-width: 90%;
}

.popUpTitle {
  font-size: 2em;
  align-self: center;
  color: #de9e1f;
  margin-top: 30px;
  max-width: 90%;
  overflow-wrap: break-word;
  text-align: center;
}

.popUpdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: goldenrod;
}

.popUpCommercialDetailsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: goldenrod;
  position: absolute;
  bottom: 21%;
  left: 0;
  right: 0;
}
.popUpCommercialDetailsInnerContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.popUpMiniFooterContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 15%;
  border-right: 0.2px solid white;
  border-left: 0.2px solid white;
  width: calc(100% + 0.1px);
  z-index: 10;
}

.popUpMiniFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 70%;
}

.popUpLogo {
  height: 50px;
  width: 50px;
}
.popUpLink {
  height: 50px;
  width: 50px;
}

.popUpLogo:hover {
  cursor: pointer;
}
.popUpLink:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .popUpCommercialDetailsInnerContainer {
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  .popUpDescription {
    font-size: 1em;
    line-height: 30px;
  }

  .popUpTitle {
    font-size: 1.8em;
  }
}
@media (max-width: 575px) {
  .popUpDescription {
    font-size: 1.2em;
  }
  .popUpTitle {
    font-size: 1.6em;
  }
  .popUpLogo {
    height: 40px;
    width: 40px;
  }
  .popUpLink {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 450px) {
  .popUpDescription {
    font-size: 1em;
  }
  .popUpTitle {
    font-size: 1.4em;
  }
}
@media (max-width: 376px) {
  .popUpDescription {
    font-size: 0.91em;
  }
  .popUpTitle {
    font-size: 1.3em;
  }
}

@media (max-height: 612px) {
  .popUpDescription {
    font-size: 0.8em;
    line-height: 20px;
  }

  .popUpTitle {
    font-size: 1.7em;
  }
}
@media (max-height: 480px) {
  .popUpDescription {
    font-size: 0.6em;
    line-height: 20px;
  }

  .popUpTitle {
    font-size: 1.5em;
  }
}
