.HomeContainer {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  opacity: 1;
  transition: opacity 1s;
  animation: gradual 1.7s linear 0s 1 forwards;
}

.HomeInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - var(--sideBarWidth));
  padding-bottom: 8%;
}
.HomeDynamicTitle {
  display: flex;
  align-self: center;
  font-size: 150px;
  margin-top: 150px;
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;

  color: rgb(200, 60, 60);
  margin-bottom: 50px;
}
.HomeContainerGrid {
  display: flex;
  width: 85%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.HomeInnerGrid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 30px 30px;
}
.singleItem {
  border-radius: 20px;
}
.singleItem:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px 8px rgb(200, 60, 60);
}

.indexCurrent {
  align-self: center;
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;
  color: white;
  font-size: 45px;
}

.topScroll {
  height: 60px;
  margin-top: 3%;
}
.topScroll:hover {
  cursor: pointer;
}

@keyframes gradual {
  0% {
    opacity: 0;
    margin-top: 1%;
  }

  30% {
    margin-top: 0%;
  }
  40% {
    opacity: 1;
  }
}

@media (max-width: 1489px) {
  .HomeInnerGrid {
    grid-template-columns: repeat(3, 300px);
  }
}
@media (max-width: 1166px) {
  .HomeInnerGrid {
    grid-template-columns: repeat(2, 400px);
    grid-gap: 40px 40px;
  }
}

@media (max-width: 1030px) {
  .HomeInnerGrid {
    grid-template-columns: 370px;
  }
  .HomeDynamicTitle {
    font-size: 140px;
  }
}
@media (max-width: 840px) {
  .HomeDynamicTitle {
    font-size: 110px;
  }
  .HomeInnerGrid {
    grid-template-columns: 350px;
  }
}
@media (max-width: 766px) {
  .HomeInnerGrid {
    grid-template-columns: 300px;
  }
}

@media (max-width: 688px) {
  .indexCurrent {
    font-size: 35px;
  }
  .HomeContainerGrid {
    margin-top: -15px;
  }
  .HomeDynamicTitle {
    font-size: 90px;
  }

  .HomeInnerGrid {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  .HomeInnerGrid {
    grid-template-columns: 230px;
  }
  .HomeDynamicTitle {
    font-size: 75px;
    margin-top: 50px;
  }
  .topScroll {
    height: 45px;
  }
}

@media (max-width: 468px) {
  .HomeDynamicTitle {
    font-size: 65px;
  }

  .indexCurrent {
    font-size: 29px;
  }
  .topScroll {
    height: 40px;
  }
}

@media (max-width: 417px) {
  .HomeInnerGrid {
    grid-template-columns: 220px;
  }
  .HomeDynamicTitle {
    font-size: 52px;
  }

  .indexCurrent {
    font-size: 26px;
  }
}
@media (max-width: 370px) {
  .HomeInnerGrid {
    grid-template-columns: 200px;
  }
}
@media (max-width: 340px) {
  .HomeDynamicTitle {
    font-size: 40px;
  }
}
