.spinner {
  height: 280px;
  animation: spinnerRoll infinite 6s;
}

@keyframes spinnerRoll {
  0% {
  }
  20% {
    transform: rotate(1200deg);
  }

  40% {
    transform: rotate(-1000deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.HomeContainer {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  opacity: 1;
  transition: opacity 1s;
  animation: fade 1.7s linear 0s 1 forwards;
}

.HomeInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - var(--sideBarWidth));
}
.HomeDynamicTitle {
  display: flex;
  align-self: center;
  font-size: 120px;
  margin-top: 150px;
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;

  color: rgb(200, 60, 60);
  margin-bottom: 50px;
}
.HomeContainerGrid {
  display: flex;
  width: 85%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.HomeInnerGrid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 30px 30px;
}
.singleItem {
  border-radius: 20px;
}
.singleItem:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px 8px rgb(200, 60, 60);
}
.paginationContainer {
  display: flex;
  margin-top: 100px;
  height: 60px;
  width: 460px;
  justify-content: space-between;
  color: black;
  transition: color 0.2s;
  margin-bottom: 60px;
}

.paginateButton {
  height: 60px;
  transition: 0.2s;
}

.paginateButton:hover {
  cursor: pointer;
}

.indexCurrent {
  align-self: center;
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;
  color: white;
  font-size: 40px;
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 1%;
  }

  30% {
    margin-top: 0%;
  }
  40% {
    opacity: 1;
  }
}

@media (max-width: 1489px) {
  .HomeInnerGrid {
    grid-template-columns: repeat(3, 300px);
  }
}
@media (max-width: 1166px) {
  .HomeInnerGrid {
    grid-template-columns: repeat(2, 400px);
    grid-gap: 40px 40px;
  }
  .HomeDynamicTitle {
    font-size: 100px;
  }
}

@media (max-width: 1030px) {
  .HomeInnerGrid {
    grid-template-columns: 370px;
  }
  .HomeDynamicTitle {
    font-size: 90px;
  }
  .paginationContainer {
    width: 400px;
  }
}
@media (max-width: 830px) {
  .HomeDynamicTitle {
    font-size: 75px;
  }
  .HomeInnerGrid {
    grid-template-columns: 350px;
  }
}
@media (max-width: 766px) {
  .indexCurrent {
    font-size: 30px;
  }
  .HomeInnerGrid {
    grid-template-columns: 300px;
  }
}

@media (max-width: 688px) {
  .paginationContainer {
    display: flex;
    margin-top: 4%;
    height: 40px;
    width: 305px;
  }
  .paginateButton {
    height: 40px;
    transition: 0.2s;
  }

  .HomeDynamicTitle {
    font-size: 60px;
  }
}

@media (max-width: 532px) {
  .HomeInnerGrid {
    grid-template-columns: 230px;
  }
  .HomeDynamicTitle {
    font-size: 45px;
    margin-top: 50px;
  }
}

@media (max-width: 468px) {
  .HomeDynamicTitle {
    font-size: 40px;
  }
  .paginationContainer {
    width: 255px;
  }
  .indexCurrent {
    font-size: 26px;
  }
}

@media (max-width: 417px) {
  .HomeInnerGrid {
    grid-template-columns: 220px;
  }
  .HomeDynamicTitle {
    font-size: 35px;
  }

  .paginationContainer {
    width: 225px;
  }
  .indexCurrent {
    font-size: 20px;
  }
}
@media (max-width: 370px) {
  .HomeInnerGrid {
    grid-template-columns: 200px;
  }
}
