.HomeContainer {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  opacity: 1;
  transition: opacity 1s;
  animation: fade 1.7s linear 0s 1 forwards;
}

.HomeInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - var(--sideBarWidth));
}
.HomeDynamicTitle {
  display: flex;
  align-self: center;
  font-size: 100px;
  margin-top: 5%;
}
.HomeContainerGrid {
  display: flex;
  width: 85%;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.HomeInnerGrid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  margin-top: -5%;
  grid-gap: 30px 30px;
}

.singleItem:hover {
  cursor: pointer;
}
.paginationContainer {
  display: flex;
  margin-top: 4%;
  height: 60px;
  width: 260px;
  justify-content: space-between;
  color: black;
  transition: color 0.2s;
}

.paginationContainer:hover {
  height: 65px;
  margin-bottom: -5px;
  /* color: transparent; */
  transition: color 0.2s;
}
.paginateButton {
  height: 60px;
  transition: 0.2s;
}

.paginateButton:active {
  height: 65px;
  transition: 0.2s;
}
.paginateButton:hover {
  height: 65px;
  transition: 0.2s;
  cursor: pointer;
}

.indexCurrent {
  align-self: center;
}

@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 1%;
  }

  30% {
    margin-top: 0%;
  }
  40% {
    opacity: 1;
  }
}

@media (max-width: 1489px) {
  .HomeInnerGrid {
    grid-template-columns: repeat(3, 300px);
  }
}
@media (max-width: 1166px) {
  .HomeInnerGrid {
    grid-template-columns: repeat(2, 400px);
    grid-gap: 40px 40px;
  }
}

@media (max-width: 1030px) {
  .HomeInnerGrid {
    grid-template-columns: 500px;
  }
  .HomeDynamicTitle {
    font-size: 80px;
  }
}

/* @media (max-width: 784px) {
  .HomeInnerGrid {
    grid-template-columns: 1fr;
  }
} */

@media (max-width: 668px) {
  .HomeInnerGrid {
    grid-template-columns: 350px;
  }

  .HomeDynamicTitle {
    font-size: 60px;
  }
}

@media (max-width: 528px) {
  .HomeInnerGrid {
    grid-template-columns: 300px;
  }
}

@media (max-width: 468px) {
  .HomeInnerGrid {
    grid-template-columns: 250px;
  }
  .HomeDynamicTitle {
    font-size: 40px;
  }
}

@media (max-width: 417px) {
  .HomeInnerGrid {
    grid-template-columns: 220px;
  }
}
@media (max-width: 370px) {
  .HomeInnerGrid {
    grid-template-columns: 200px;
  }
}
