.app {
}

body {
  padding: 0%;
  margin: 0%;
  background-color: rgb(227, 227, 227);
  background-color: #f3f2ef;
}

* {
  --sideBarWidth: 80px;
}

@media (max-width: 669px) {
  * {
    --sideBarWidth: 60px;
  }
}

@media (max-width: 468px) {
  * {
    --sideBarWidth: 50px;
  }
}
